/* Common Styles */
.hidden{
  visibility: hidden !important;
}

.show-none {
  display: none !important;
}

.show-flex {
  visibility: visible;
  display: flex;
}

.show-grid {
  display: grid !important;
}

.show {
  display: block !important;
  width: 100%;
}

.text-center {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.remove-underline {
  text-decoration: none;
  outline: none;
}

.no-blackout {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 650px) {
  .small-text {
    font-size: 0.9rem !important;
  }
}

.small-text {
  font-style: normal;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.black-big-text {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.grey-18-normal-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 23px;
  align-items: center;
  
  color: rgba(0, 0, 0, 0.3);
}

.body-container {
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
}

.loading-page {
  margin: 10% auto 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #03314B;
}

/* Page.js */
#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header-container {
  margin-left: 5%;
}


/* Header.js */
@media only screen and (max-width: 650px) {
  #eradio {
    display: none !important;
  }

  #category-banner {
    display: block !important;
  }
}

.header {
  height: 90px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#eradio-logo {
  background: url("../img/eradio_logo.svg");
  width: 50px;
  height: 50px;
  margin: auto 0;
}

#eradio {
  height: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  width: 100px;
  margin: auto 0;

  color: #F58732;
}




/* ComponentsHeader.js */
.component-header {
  width: 100%;
  justify-content: space-between;
  margin-right: 5%;
  height: 90px;
}

.search-button {
  border: none;
  background: url("../img/glass_black.svg") no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  margin: auto 0 auto 10px;
  cursor: pointer;
  }

.search-button:hover {
  background: url("../img/glass_orange.svg") no-repeat;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

