/* Categories */
/* Header */
@media only screen and (max-width: 650px) {
  #eradio {
    display: none !important;
  }

  #category-banner {
    display: block !important;
  }
}

#header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header {
  height: 90px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header-container {
  margin-left: 5%;
}




/* Component Header - ComponentHeader.js */
.component-header {
  width: 100%;
  justify-content: space-between;
  margin-right: 5%;
  height: 90px;
}

#category-banner {
  padding-top: 20px;
  margin-bottom: 5%;
}


#eradio-logo {
  background: url("../img/eradio_logo.svg");
  width: 50px;
  height: 50px;
  margin: auto 0;
}

#eradio {
  height: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  width: 100px;
  margin: auto 0;

  color: #F58732;
}




/* Headline */
#headline-container {
  height: 100px;
  background-color: #F1F6F4;
  
}

#headline {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin: 0 0 32px 5%;
  padding-top: 24px;

  color: #1775FC;
}




/* List Categories */
.list-categories-container {
  width: 100%;
  height: 532px;
  background: #F1F6F4;
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.list-categories {
  margin-left: 5%;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-between;
}




/* Category */
.category-text {
  margin-left: 15px;
  color: #000000 !important;
}

.category {
  margin-bottom: 10px;
  cursor: pointer;
}

.category:hover .category-text, #discovery-dropdown:hover, #friend-dropdown:hover{
  color: #F58732 !important;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.category-icon {
  color: #000000;
  background: url("../img/sales_black.svg") no-repeat;
  width: 50px;
  height: 30px;
}

.category:hover .category-icon {
  background: url("../img/sales_orange.svg") no-repeat;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}




/* Components */
/* Menu */
#menu {
  width: 100%;
  height: 90px;
  display: block;
}

.search-button {
  border: none;
  background: url("../img/glass_black.svg") no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
  margin: auto 0 auto 10px;
  cursor: pointer;
  }

.search-button:hover {
  background: url("../img/glass_orange.svg") no-repeat;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

