@media only screen and (max-width: 650px) {
  .search-dropdown-content-hidescroll {
    padding-left: 0px !important;
  }

  #category-name {
    text-align: center;
  }

  #progress-bar {
    margin-top: 5%;
  }

  #users-chart-container {
    margin: 0 auto 30px auto;
  }

  .chapter-list-show {
    width: 100% !important;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: all linear 0.2s;
  }

  #chapter-progress-text {
    width: 3rem;
  }

  .list-book {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)) !important;
  }

  #book-zoom-menu-bar {
    width: 85% !important;
    display: flex;
    flex-direction: row;
    margin-left: 1.7rem;
  }

  #house-icon-container {
    margin: auto 0 3px auto !important;
  }

  #book-zoom-body {
    flex-direction: column;
  }

  #book-chapter-heading {
    font-size: 2.2rem !important;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  
  .book-chapter-text {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  #next-button {
    margin-right: 20px;
  }

  #back-button {
    margin-left: 20px;
  }
}


#category-name {
  margin: auto 0;
}

#progress-bar {
  margin-left: auto;
}

#search-bar {
  width: 100%;
  border: none;
  padding-left: 20px;
}

#search-bar:focus {
  outline: none;
}

#search {
  width: 100%;
  position: relative;
  left: 0;
  display: flex;
  transition: 0.3s;
}

.search-hide {
  position: relative;
  left: calc(100% - 20px) !important;
  width: 0px !important;
  transition: 0.3s;
}

.search-dropdown-content-container {
  position: absolute;
  width: 50%;
  min-width: 210px;
  background-color: #f9f9f9;
  margin-top: 70px;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
  overflow: hidden
}

.search-dropdown-content-hidescroll {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-right: 16px;
  max-height: 25rem;
}

.search-dropdown-content {
  font-style: normal;
  font-weight: 500;
  width: 100%;
  line-height: 20px;
  text-align: left;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
  padding: 12px 8px 12px 8px;
  
  display: flex;
}

.search-dropdown-img {
  border-radius: 5px;
}

.search-dropdown-info {
  margin-left: 10px;
}

.search-dropdown-info-name {
  color: #000000;
  font-size: 1.1rem
}

.search-dropdown-info-author {
  margin-top: 5px;
  color: #6D787E;
  font-size: 0.85rem;
  font-style: italic;
}




/* ProgressBar */
#users-chart-container {
  width: 140px;
  height: 140px;
}





/* MarketingSales.js */
/* Banner */
.banner {
  width: 50%;
  cursor: pointer;
}

#category-banner {
  padding-top: 20px;
  margin-bottom: 5%;
}

.line-below-banner {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  margin-bottom: 50px;
}

.orange-text {
  color: #F58732;
  border-color: #F58732 !important;
}

/* MarketingSales.js - Dropdown */
#friend-dropdown-icon {
  background: url(../img/user.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
  margin: auto 50px;
  cursor: pointer;
}

#discovery-dropdown-icon {
  background: url(../img/category.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
  margin: auto 30px auto auto;
  cursor: pointer;
}

#discovery-dropdown {
  width: 100px;
}

.discovery-dropdown-content-show {
  opacity: 1;
  height: calc(100% + 135px);
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.2s;
}

.discovery-dropdown-content-hide {
  opacity: 0;
  height: 0;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.2s;
}

.friend-dropdown-content-container {
  display: none;
  position: absolute;
  right: 5%;
  background-color: #f9f9f9;
  margin-top: 40px;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.friend-dropdown-content {
  font-weight: 500;
  text-align: left;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
  padding: 12px 16px;
  color: #000000;
}

.friend-dropdown-content:hover {
  color: #F58732;
}




/* Book.js  */
.book {
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
}

.book-cover {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.book-tag-content {
  display: flex;
  flex-direction: column;
  height: 16rem;
}

.book-info {
  margin-left: 5%;
}

.book-title {
  font-weight: bold;
  color: #03314B;
  margin-top: 5%;
  margin-bottom: 5%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  -o-text-overflow: ellipsis;   /* required for Opera */
  -ms-text-overflow: ellipsis;  /* required for IE8, allegedly */
}

.book-author {
  font-weight: 600;
  display: flex;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  -o-text-overflow: ellipsis;   /* required for Opera */
  -ms-text-overflow: ellipsis;  /* required for IE8, allegedly */

  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
}

.book-estimated-time, .book-progress {
  margin-bottom: 5%;
}

.book-estimated-time-content, .book-progress-content {
  color: #000 !important;
  font-weight: normal !important;
}

.book-estimated-time-icon {
  background: url('../img/estimated-time-icon.svg') no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 2%;
}

.book-progress-icon {
  background: url('../img/book-progress-icon.svg') no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 2%;
}

.read-button {
  border-top: 1.5px solid rgba(0, 0, 0, 0.25);
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: auto;
}

.read-button-container {
  margin: auto auto;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.read-button-content {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 18px;

  text-decoration: none;
  color: #1775FC;
}




/* ListBook.js */
.list-book {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 253px));
  margin-bottom: 8%;
  grid-gap: 20px;
  align-items: stretch;
  justify-content: center;
}

