/* Responsive */
@media only screen and (max-width:650px) {
  .signin-signup-frame-container {
    width: 80vw !important;
    /* height: 30rem !important; */
    left: calc(50% - 80vw/2) !important;
  }

  .orange-button {
    height: 3rem !important;
  }
}

/* Background */
.signin-signup-container {
  background: url('../img/ss_9c7f5e7c5f9b155c522759f9b0867c698157f11e.jpg') repeat;
  /* position: absolute; */
  width:  100%;
  height: 1400px;
}

.signin-signup-frame-container {
  position: fixed;
  left: calc(50% - 400px/2);
  top: calc(50% - 500px/2);
  width: 400px;
  height: 500px;

  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  }

/* Sign in Sign up frame */
.signin-signup-frame {
  margin: 5% 10%;
}

.signin-signup-frame-header {
  margin: 0 100px 0 100px;
}


/* User info */
.signin-signup-frame-account {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.3);

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  }

.error-icon {
  width: 0.7rem;
  height: 0.7rem;
  background: url('../img/error.svg');
  margin: auto 3px auto 0;
}

#error {
  width: 100%;
  height: 1rem;
  font-size: 0.65rem;
  color: #cc0000;
}

.signin-signup-frame-account-input {
  border: none;
  margin: 10px 10px;
  
}


/* Checkbox */
.signin-signup-frame-checkbox {
  display: flex;
  margin: 2% 0 4% 0;
  cursor: pointer;
}

.signin-signup-frame-checkbox .checkbox {
  /* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
  height: 0;
  width: 0;
  display: none;
  overflow: hidden;
}

.signin-signup-frame-checkbox .signin-signup-frame-new-checkbox {
  /* <-- Style the artificial checkbox */
  content: '\2714';
  width: 25px;
  height: 25px;
  margin-right: 10px;

  
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

[type=checkbox]:checked + .signin-signup-frame-new-checkbox {
  /* <-- Style its checked state */
  width: 25px;
  height: 25px;
  background: #F58732;
}

[type=checkbox]:checked + .signin-signup-frame-new-checkbox:before {
  /* Style its checked state...with a ticked icon */
  content: '\2714';
  margin-left: 5px;
  color: white;
}

.signin-signup-frame-checkbox .checkbox-text{
  margin: auto 0;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}


/* Submit button */
.orange-button {
  background: #F58732;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 50px;

  font-weight: bold !important;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  margin: 10% 0 5% 0;
  cursor: pointer;

  color: #FFFFFF !important;
}

.signin-signup-button {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto auto;
  color: #FFFFFF !important;
}


/* Ask for sign up */
.signin-signup-ask {
  display: block !important;
  margin-top: 10%;
  display: flex;
  align-items: center;
  text-align: center;
}

.account-ask {
  color: rgba(0, 0, 0, 0.5);
  margin: auto auto;
}

.todo-ask {
  color: #F58732;
  margin: auto auto;
  cursor: pointer;
}

.margin-reduced {
  margin-top: 2% !important;
}

#verify-message {
  align-items: center;
  text-align: center;
  
  margin: 10% auto 15% auto;
}
